<div>
  <mat-card>
    <mat-card-title>Library Component</mat-card-title>
    <mat-card-content>
      Hi, <span class="mat-body-strong">{{username$ | async}}</span>!
    </mat-card-content>
    <mat-card-actions>
      <div>
        <button mat-raised-button color="primary" (click)="doLogin('bob')">Bob</button>
        <button mat-raised-button color="primary" (click)="doLogin('cat')">Cat</button>
        <button mat-raised-button color="primary" (click)="doLogout()">Guest</button>
      </div>
    </mat-card-actions>
    <mat-card-content>
      <div flex>
        <div grow class=mat-title>My Books</div>
        <div>
          <button
            matTooltip="Return selected book(s)"
            color="primary"
            mat-icon-button (click)="doReturnBooks()">
            <mat-icon>arrow_downward</mat-icon>
          </button>
        </div>
      </div>
      <div class="mat-caption">
        You have <span class="mat-body-strong">{{myBookCount$ | async}}</span> books.
      </div>
      <mat-selection-list #myBooks>
        <mat-list-option *ngFor="let book of myBooks$ | async" [value]="book.id" [@flyInOut]>
          {{book.title}}
        </mat-list-option>
      </mat-selection-list>

      <div flex>
        <div grow class="mat-title">Library Books</div>
        <div>
          <button
            matTooltip="Add book with title randomly retrieved from https://uinames.com/"
            color="accent"
            mat-icon-button (click)="doAddBook()">
            <mat-icon>add</mat-icon>
          </button>
          <button
            matTooltip="Delete book"
            color="primary"
            mat-icon-button (click)="doRemoveBooks()">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            matTooltip="Borrow select book(s)"
            color="primary"
            mat-icon-button (click)="doBorrowBooks()">
            <mat-icon>arrow_upward</mat-icon>
          </button>
        </div>
      </div>
      <div class="mat-caption">
        Library has <span class="mat-body-strong">{{libraryPageCount$ | async}}</span> pages of
        stuff
        to read.
      </div>
      <mat-selection-list #libraryBooks>
        <mat-list-option
          *ngFor="let book of libraryBooks$ | async" [value]="book.id"
          [disabled]="book.borrower"
          [selected]="book.borrower"
          [@slideUpDown]>
          {{book.title}} ({{book.pages}} pages)
          <ng-container *ngIf="book.borrower">({{book.borrower}})</ng-container>
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
  </mat-card>
  <section>
    Try these:
    <ul>
      <li>Add some books</li>
      <li>Delete some books</li>
      <li>Borrow books as guest (will not be allowed)</li>
      <li>Login as bob</li>
      <li>Select and borrow some books</li>
      <li>Login as cat</li>
      <li>Select and borrow some books</li>
      <li>Switch between users</li>
      <li>Logout</li>
    </ul>
  </section>
</div>
