<div class="mat-typography">
  <mat-tab-group>
    <mat-tab label="Slides, Demo 1, Demo 2">
      <section>
        <div class="mat-title">Reactive Programming with Observables, RxJS and NGXS</div>
        <a href="slides/index.html" mat-raised-button color="accent">Slides</a>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="mat-body-strong">Demo 1: Simple Asynchronous Operations</div>
        <section>
          <app-demo-1></app-demo-1>
        </section>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="mat-body-strong">Demo 2: Count Followers of Followers</div>
        <section>
          <app-demo-2></app-demo-2>
        </section>
      </section>
    </mat-tab>
    <mat-tab label="Demo 3: Library Component">
      <section>
        <app-demo3></app-demo3>
      </section>
    </mat-tab>
  </mat-tab-group>
</div>
